<md-card class="login-card">
  <h3>User Login</h3>
  <div>Dont Have an Account Yet? <a routerLink="/signUp" routerLinkActive="active">SignUp</a></div>
  <form #loginForm="ngForm" novalidate>
    <md-input-container class="example-full-width">
      <input md-input placeholder="Email" type="email" value="" name="email" [(ngModel)]="userLoginData.email">
    </md-input-container>
    <md-input-container class="example-full-width">
      <input md-input placeholder="Password" value="" type="password" name="password" [(ngModel)]="userLoginData.password">
    </md-input-container>
    <button md-raised-button type="submit" (click)="userLogin(loginForm.valid, loginForm.value)">Login</button>
  </form>
</md-card>